@page "/MainPage"
@inject HttpClient Http
@inject TokenService TokenService
@inject NavigationManager Navigation
@inject UserProfileService UserProfileService
@using SoftServeProject3.UI.Services;
@using System.Globalization
@using System.Net
@using Newtonsoft.Json;
@using SoftServeProject3.Core.DTOs;
@using System.Net.Http.Headers;
@using System.Net.Http.Json;

<head>
    <PageTitle>Checking mail</PageTitle>
</head>
@if (isLoaded)
{
    @if (isUserAuthenticated)
    {
        <body>
            <div class="wrapper">
            <SoftServeProject3.UI.wwwroot.navbar.Navbar/>
                <div class="two">

           

                    <div class="slideshow-container">
                        <img class="mySlides" src="https://i.postimg.cc/LsVpNYFp/1-3232323png.png" alt="Слайд 1">
                        <img class="mySlides" src="https://i.postimg.cc/3RG5rJ0D/1111111-1.png" alt="Слайд 2">
                        <img class="mySlides" src="https://i.postimg.cc/gc3G7VTF/11111.png" alt="Слайд 3">
@* 
                         720x720:  https://i.postimg.cc/mrxcvYGv/112.png;
                        1920x720:  https://i.postimg.cc/brVggDb6/11111111111111111-1.png;
                        1920x1080: https://i.postimg.cc/gc3G7VTF/11111.png; *@


                        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>

                        <div style="text-align:center">
                            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                        </div>
                    </div>
                    <script>
                        var slideIndex = 1;
                        showDivs(slideIndex);

                        function plusDivs(n) {
                            showDivs(slideIndex += n);
                        }

                        function currentDiv(n) {
                            showDivs(slideIndex = n);
                        }

                        function showDivs(n) {
                            var i;
                            var x = document.getElementsByClassName("mySlides");
                            var dots = document.getElementsByClassName("demo");
                            if (n > x.length) { slideIndex = 1 }
                            if (n < 1) { slideIndex = x.length }
                            for (i = 0; i < x.length; i++) {
                                x[i].style.display = "none";
                            }
                            for (i = 0; i < dots.length; i++) {
                                dots[i].className = dots[i].className.replace(" w3-white", "");
                            }
                            x[slideIndex - 1].style.display = "block";
                            dots[slideIndex - 1].className += " w3-white";
                        }
                    </script>

                </div>
                <div class="back">

                <div class="three">
                    <h3>Список відпралених запитів:</h3>
                    <table class="table">
                        @if (myOutgoingRequests != null && myOutgoingRequests.Any())
                        {
                            @for (int i = 0; i < myOutgoingRequests.Count; i += 3)
                            {
                                <tr>
                                    @for (int j = i; j < i + 3 && j < myOutgoingRequests.Count; j++)
                                    {
                                        <td style="text-align: center;">
                                            <div>
                                                <img src="@(!string.IsNullOrEmpty(myOutgoingRequests[j].photoUrl) ? myOutgoingRequests[j].photoUrl : "https://t4.ftcdn.net/jpg/05/89/93/27/360_F_589932782_vQAEAZhHnq1QCGu5ikwrYaQD0Mmurm0N.jpg")" class="rounded-image" />
                                            </div>
                                            <div>
                                                <a href="UserProfile/@myOutgoingRequests[j].username">@myOutgoingRequests[j].username</a>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                            <p>спробуйде додати когось у друзі</p>
                        }
                    </table>
                </div>

            <div class="four">
                <h3>Список Друзів:</h3>
                <table class="table">
                    @if (myFriends != null && myFriends.Any())
                    {
                        @for (int i = 0; i < myFriends.Count; i += 3)
                        {
                            <tr>
                                @for (int j = i; j < i + 3 && j < myFriends.Count; j++)
                                {
                                    <td style="text-align: center;">
                                        <div>
                                            <img src="@myFriends[j].photoUrl" class="rounded-image" />
                                        </div>
                                        <div>
                                            <a href="UserProfile/@myFriends[j].username">@myFriends[j].username</a>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <p>У вас немає друзів</p>
                    }
                </table>
            </div>

                <div class="recently-viewed">
                    <h3>Переглянуті користувачі:</h3>
                    <table class="table">
                        @if (recentlyViewedProfiles.Any())
                        {
                            <tr>
                                @foreach (var profile in recentlyViewedProfiles)
                                {
                                    <td style="text-align: center;">
                                        @if (!string.IsNullOrEmpty(profile.photoUrl))
                                        {
                                            <img src="@profile.photoUrl" class="rounded-image" />
                                        }
                                        else
                                        {

                                            <img src="https://t4.ftcdn.net/jpg/05/89/93/27/360_F_589932782_vQAEAZhHnq1QCGu5ikwrYaQD0Mmurm0N.jpg" class="rounded-image" />
                                        }
                                        <a href="UserProfile/@profile.username">@profile.username</a>
                                    </td>
                                }
                            </tr>
                        }
                        else
                        {
                            <p>Список пустий.</p>
                        }
                    </table>
                </div>


                </div>




            @*         <div class="two">   
            <a href="https://github.com/rilking1"><div class="circle1"> </div></a>
            <div class="oval">Нікнейм</div>
            <div class="oval">Факультет</div>
            <div class="oval">предмети</div>

        </div> *@



        

            </div>
            @* забумбулькав флоатер *@
            @* звідси подсасуються іконочкі *@
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-col">
                            <h4> VSC/SoftServe</h4>

                        </div>
                        <div class="footer-col">
                            <h4>company</h4>
                            <ul>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">our services</a></li>
                                <li><a href="#">privacy policy</a></li>
                                <li><a href="#">affiliate program</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>get help</h4>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">feedback</a></li>
                                <li><a href="#">bugs</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">documentation</a></li>
                            </ul>
                        </div>

                        <div class="footer-col">
                            <h4>follow us</h4>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </body>
    }
    else
    {

    <p>Будь ласка, <a href="/login">ввійдіть</a> для доступу до цієї сторінки.</p>
    }

}
else
{
    <p>@errorMessage</p>
}
@code {
    bool isLoaded;
    string errorMessage = "";
    private List<Friend> myFriends = new List<Friend>();
    private List<Friend> myOutgoingRequests = new List<Friend>();
    
    private List<Friend> recentlyViewedProfiles = new List<Friend>();
    bool isUserAuthenticated;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            isUserAuthenticated = await IsUserAuthenticatedAsync();
            if (isUserAuthenticated)
            {
                isLoaded = false;
                var token = await TokenService.GetToken();
                Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
                myFriends = await Http.GetFromJsonAsync<List<Friend>>($"https://localhost:7292/Users/friends");
                myOutgoingRequests = await Http.GetFromJsonAsync<List<Friend>>("https://localhost:7292/Users/friends/outgoingRequests");
                recentlyViewedProfiles = await Http.GetFromJsonAsync<List<Friend>>("https://localhost:7292/Users/getRecentlyViewed");
            }
            else
            {
                errorMessage = "Failed to load user info";
            }
            isLoaded = true;


        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }
    private async Task<bool> IsUserAuthenticatedAsync()
    {
        var token = await TokenService.GetToken();
        return TokenService.IsTokenValid(token);
    }
}
    


